<h1> Entity </h1>
ID: <%= link_to @entity.originalID, :controller => 'entities', :action => 'show', :id => @entity.id %><br />
Associtations:
<%  @entity.associations.each do |assoc| %>
    <br />
    <%=  assoc.predicate %> -
    <%  if assoc.is_entity_assoc %>
        <%= link_to assoc.object.originalID, :controller => 'entities', :action => 'show', :id => assoc.object.id %>
    <% else %>
        <%= assoc.object %>
    <% end %>
<% end %>