<h1>Creating Authtoken for <%= @host.alias %></h1>
<br />
<p></p>

<fieldset>
<%= form_tag create_auth_token_path(session[:current_user],@host) do %>
    <table class="login-table">
      <tr>
        <td style="padding: 4px; vertical-align: top;" width="180"><label for="login">UserID</label></td>
        <td style="padding: 4px; vertical-align: top;"><%= text_field_tag :userID %></td>
      </tr>
      <tr>
        <td style="padding: 4px; vertical-align:top;" width="180"> <label for="login">Password</label></td>
        <td style="padding: 4px; vertical-align:top;" > <%= password_field_tag :passwd %></td>
      </tr>
      <tr>
        <td style="padding: 4px; vertical-align: top;" colspan="2">
          <button type="submit"><span>Create</span></button>
        </td>
      </tr>
    </table>
<%end %>
</fieldset>